@use '../themes/variables' as *;
@forward '../base/_variables.scss';

html {
    font-size: var(--font-size-base);
    font-family: 'Montserrat', sans-serif;

}

body {
    background: var(--bg-primary);
    color: var(--color-primary);
    height: 100vh;
    width: 100%;

}

._container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    ;
    ;
    max-width: 80%;
    margin: 0 auto;
}
