:root {
    --color-primary: #252424;
    --color-primary-hover: #3e3c3c;
    --color-secondary: #264b6f;
    --color-secondary-hover: #1e2f41;
    --bg-primary: #ffffff;
    --bg-secondary: #d1d5da;
}

.dark {
    --color-primary: #ffffff;
    --color-primary-hover: #c1c1c1;
    --color-secondary: #f8f9fa;
    --color-secondary-hover: #cedbe8;
    --bg-primary: #212121;
    --bg-secondary: #3f4750;
}